@import "./colors.scss";
@import "./mixins.scss";

.section {
	&-main {
		padding-top: 40px;
		position: relative;
		max-width: 1920px;
		margin: 0 auto;
		min-height: 700px;

		&::after, &::before {
			height: 764px;
			width: 1363px;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
		}

		&::after {
			background: url(../images/snow.gif) no-repeat center/cover;
			opacity: 0.1;
		}

		&::before {
			background: url(../images/bg.png) no-repeat center/cover;
		}

		&-dual {
			margin-top: 70px;
		}

		&-about {
			margin-top: 92px;
		}	
	}
}

.header {
	align-items: center;

	&-menu {
		align-items: center;

		&__button {
			width: 25px;
			height: 16px;
			cursor: pointer;
			position: relative;
			z-index: 1;
			transition: width 0.25s;

			span {
				width: 25px;
				height: 2px;
				background: $white;
				position: relative;
				display: block;

				&::after, &::before {
					position: absolute;
					content: "";
					display: block;
					background: $white;
					width: 12px;
					height: 2px;				
					top: 5px;
					left: 0;
					transition: width 0.25s;
					}

					&::before {
						width: 25px;			
						top: 10px;
						}
			}
		}

		&__list {
			margin-left: 50px;
			z-index: -1;

			ul {
				column-gap: 24px;
				font-size: 14px;
				font-weight: 400;
				line-height: 27px;
				text-transform: uppercase;	
				transform: translateX(-200px);		
				opacity: 0;
			}
		}

		&__link {
			position: relative;
			color: rgba(255, 255, 255, 0.5);
			transition: color 0.25s;

			&:hover {
				color: $violet;
			}

			&.lang {
				color: $white;
				font-weight: 700;
				cursor: pointer;

				&:hover {
					// svg {
					// 	transform: rotate(360deg);
					// }

					.header-menu__languages {
						display: block;
					}
				}

				svg {
					width: 12px;
					height: 12px;
					fill: $white;
					transform: rotate(180deg);
					margin-left: 9px;
				}
			}
		}

		&__languages {
			padding: 10px 15px;
			border-radius: 6px;
			background: $dark;
			position: absolute;
			top: 100%;
			display: none;
		}

		&__language {
			font-size: 13px;
			font-weight: 500;
			cursor: pointer;
			color: rgba(255, 255, 255, 0.5);
			transition: color 0.25s;

			&:hover {
				color: $violet;
			}
		}
	}

	&.opened {
		.header {
			&-menu {
				&__button {
					span {
						width: 12px;

						&::after {
							width: 25px;
						}

						&::before {
							width: 12px;
						}
					}
				}

				&__list {
				z-index: 1;

				ul {
					opacity: 1;
					transform: translateX(0);
					transition: opacity 0.2s, transform 0.25s;
				}
			}

			
			}
		}
	}

	&-timer {
		margin-left: auto;
		column-gap: 19px;

		span {
			font-weight: 400;
			line-height: 19px;
			color: $grey;
		}

		&__values {
			column-gap: 10px;
		}

		&__item {
			color: $sea;

			&-value {
				font-size: 40px;
				font-weight: 700;
				line-height: 47px;
				min-width: 55px;
				text-align: center;
			}

			&-info {
				text-align: center;
				font-size: 16px;
				font-weight: 400;
				line-height: 19px;
				color: $grey;
			}
		}
	}
}

.description {
	margin-top: 112px;
	margin-left: auto;
	animation: move 1s ease-in-out;

	&__title {
		max-width: 545px;

		h1 {
			font-size: 100px;
			font-weight: 600;
			line-height: 100px;
		}
	}

	&__subtitle {
		margin-top: 20px;
		font-size: 18px;
		font-weight: 400;
		line-height: 27px;
		color: $sea;
	}

	&__button {
		@include button;
		@include hoverViolet;
		margin-top: 36px;
	}
}

.editions {
	&-list {
		margin-top: 32px;
		display: grid;
		grid-template-columns: repeat(3, 350px);
		column-gap: 16px;
		justify-content: center;
	}

	&-item {
		padding: 17px;
		height: 460px;
		border-radius: 6px;
		background: linear-gradient(180deg, #141615 0%, #1C2023 100%);
		transition: transform 0.25 ease-in-out;
		transform:  translateX(0);

		&__img {
			border-radius: 6px;
			overflow: hidden;
			width: 100%;
			height: 172px;
			@include bg;
		}

		&__title {
			margin-top: 21px;
			text-align: center;
			font-size: 16px;
			font-weight: 700;
			line-height: 19px;
		}

		&__subtitle {
			margin-top: 15px;
			color: $sea;
			text-align: center;
			font-size: 16px;
			font-weight: 500;
			line-height: 19px;
		}

		&__description {
			margin-top: 32px;
			display: flex;
			flex-direction: column;
			row-gap: 12px;
			color: $grey;
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
		}

		&__price {
			margin: 6px 0 14px 0;
			text-align: end;
			font-style: 19px;
			font-weight: 700;
			line-height: 23px;
		}

		&__btn {
			@include button;
			@include hoverViolet;		
			padding: 8px 19px;
				font-size: 13px;
				font-weight: 500;
				line-height: 15px;
				text-align: end;
				margin-left: auto;
		}
	}
}

.dual {
	margin-top: 20px;
	column-gap: 5%;
	transition: column-gap 0.5s;

	&-description {
		max-width: 410px;

		p {
			margin-bottom: 22px;
			color: $sea;
			font-size: 18px;
			font-weight: 400;
			line-height: 27px;

			span {
				font-weight: 700;
			}
		}

		&__info {
			margin-top: 19px;
			justify-content: space-between;
			align-items: center;
		}

		&__price {
			font-size: 30px;
			font-weight: 700;
			line-height: 36px;
		}

		&__button {
			@include button($orange);
			@include hoverOrange;
			padding: 14px 19px;
		}
	}

	&-img {
		max-width: 50%;
		position: relative;
		
		img {
			max-width: fit-content;
			animation: gravitation 1.5s linear infinite alternate;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			content: "";
			display: block;
			width: 194px;
			height: 119px;
			background: rgba(79, 96, 152, 0.8);
			filter: blur(75px);
		}
	}
}

// Мой вариант
// .cotroller-description {
// 	margin-top: 66px; 
// 	display: flex;
// 	column-gap: 152px;
// 	justify-content: center;

// 	&__text {	
// 		margin-bottom: 25px;
// 		max-width: 424px;
// 		color: $sea;
// 		font-size: 18px;
// 		font-weight: 400;
// 		line-height: 27px;
// 	}

// 	&__img {
// 		// background-image: url(../images/dual.png);
// 		width: 100%;
// 		height: 309px;
// 		overflow: hidden;
// 		@include bg;
// 	}
// }

.video {
	position: relative;
	margin-top: 32px;
	transition: transform 0.5;
	transform: scale(1);
	width: 100%;
	height: auto;

	&-info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		text-align: center;

		&.hidden {
			opacity: 0;

			&:hover {
				opacity: 1;
			}
		}
	}

	&-title {
		font-size: 50px;
		font-weight: 500;
		line-height: 39px;
	}

	&-btn {
		display: inline-block;
		margin: 28px auto 0 auto;
		padding: 9px 26px;
		font-size: 16px;
		font-weight: 500;
		line-height: 16px;
		background: $dark;
		border-radius: 6px;
		text-transform: uppercase;
		cursor: pointer;
		transition: background 0.25s;

		&:hover {
			background-color: #525c67;
		}
	}
}

.explore {
	&-items {
		display: flex;
		flex-direction: column;
		row-gap: 100px;
		margin-bottom: 122px;
	}
	
	&-item {
		h3 {
			margin-top: 32px;
			text-align: center;
			font-size: 18px;
			font-weight: 500;
			line-height: 21px;
		}

		&__price {
			margin-top: 21px;
			text-align: center;
			font-style: 20px;
			font-weight: 700;
			line-height: 24px;
		}
	}

		&-switch {
		margin-top: 25px;
		margin-bottom: 23px;
		column-gap: 15px;
		
		&__checkbox {
			position: relative;
			width: 54px;
			height: 26px;
			background: $dark;
			border-radius: 12px;

			input {
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
				cursor: pointer;
				z-index: 2;

				&:checked {
					& + span {
						transform: translateX(28px);
					}
				}
			}

			span {
				position: absolute;
				top: 4px;
				left: 4px;
				border-radius: 50%;
				background: $violet;
				width: 18px;
				height: 18px;
				transform: translate(0);
				transition: transform 0.25s;
			}
		}

		&__title {
			font-size: 14px;
			font-weight: 400;
			line-height: 17px;
			color: $dark;

			&.active {
				color: $white;
			}
		}
	}

	&-info {
		margin-top: 100px;
		column-gap: 10%;
		transition: column-gap 0.5s;

		&.reverse {
			flex-direction: row-reverse;
			column-gap: 10%;

			.explore {
				&-img {
					// width: 50%;
					justify-content: center;
				}

				&-description {
					max-width: max-content;
					text-align: left;
				}

				&-button {
					margin-right: auto;
				}
			}
		}	
	}

	&-img {
		// width: 50%;
		text-align: center;
		display: flex;
		justify-content: end;

		&__wrap {
			width: 300px;
			height: 300px;
			border-radius: 12px;
			@include bg;
			position: relative; 

			&::before {
				position: absolute;
				display: block;
				content: "";
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 61px;
				height: 140px;
				background-color: $orange;
				opacity: 0.8;
				background-position: center;
				background-repeat: no-repeat;
				filter: blur(75px);
				z-index: 3;
			}

			img {
				max-width: unset;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
	}

	&-description {
		max-width: max-content;
		width: 50%; 

		ul {
			flex-direction: column;
			font-weight: 400;
			font-size: 15px;
			line-height: 36px;
			display: none; 

			&.active {
				display: flex;
			}
		}
	}

	&-button {
		
		@include button($orange);
		@include hoverOrange;
		padding: 8px 19px;
		margin-top: 20px;
		font-size: 13px;
		font-weight: 500;
	}
}

.news {
  margin-top: 32px;
  transition: transform 0.5s;
  transform: translate(0);

  &-item {
    background: linear-gradient(177.87deg, #30373f 41.63%, #141615 185.57%);
    border-radius: 6px;
    padding: 20px;

    &__info {
      justify-content: space-between;
      align-items: center;
    }

    &__subtitle {
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      color: $violet;
    }

    &__date {
      font-weight: 400;
      font-size: 10px;
      line-height: 17px;
      color: $grey;
    }

    &__title {
      font-weight: 600;
      font-size: 19px;
      line-height: 23px;
      text-transform: uppercase;
      color: $white;
      margin: 7px 0 16px 0;
    }

    &__description {
      column-gap: 24px;
      height: 248px;
      align-items: flex-start;
    }

    &__img {
      min-width: 278px;
      height: 100%;
      @include bg;
    }

    &__text {
      flex-direction: column;
      height: 100%;

      p {
        color: #d9d9d9;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
      }
    }

    &__button {
      background: $grey;
      border-radius: 6px;
      font-weight: 500;
      font-size: 13px;
      line-height: 15px;
      text-transform: uppercase;
      color: $white;
      margin-top: 10px;
      padding: 8px 30px;
      display: flex;
      width: max-content;
      margin-left: auto;
      margin-top: auto;
      transition: background 0.25s;

      &:hover {
        background: $dark;
      }
    }
  }
}


@keyframes move {
	0% {
		opacity: 0;
		transform: translateX(-400px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes gravitation {
	0% {
		transform: translateY(-15px);
	}

	100% {
		transform: translateY(0px);
	}
}
